<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <form method="POST" action="/team">
    <h1>Basketball Team!</h1>
      Team Name: <%= @name %><br/>
      Coach: <%= @coach %><br/>
      Point Guard: <%= @pg %><br/>
      Power Forward: <%= @pf %><br/>
      Shooting Guard: <%= @sg %><br/>
      Small Forward: <%= @sf %><br/>
      Center: <%= @c %>
    </form>

 </body>
</html>


